In [1]:
import pandas as pd
import seaborn as sns

In [3]:
df=pd.read_csv("airline_2019.csv")

In [5]:
df.head()

,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 25
0,2019-04-01,20416,N605NK,BWI,"Baltimore, MD",Maryland,MCO,"Orlando, FL",Florida,1020,...,1305.0,0.0,NaN,0.0,0.0,0.0,3.0,0.0,17.0,NaN
1,2019-04-01,20416,N605NK,DTW,"Detroit, MI",Michigan,BWI,"Baltimore, MD",Maryland,755,...,948.0,0.0,NaN,0.0,20.0,0.0,0.0,0.0,0.0,NaN
2,2019-04-01,20416,N605NK,BWI,"Baltimore, MD",Maryland,DTW,"Detroit, MI",Michigan,1931,...,2134.0,0.0,NaN,0.0,10.0,0.0,11.0,0.0,5.0,NaN
3,2019-04-01,20416,N605NK,MCO,"Orlando, FL",Florida,BWI,"Baltimore, MD",Maryland,1623,...,1846.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
4,2019-04-01,20416,N637NK,LAS,"Las Vegas, NV",Nevada,DTW,"Detroit, MI",Michigan,2320,...,643.0,0.0,NaN,0.0,21.0,0.0,0.0,0.0,0.0,NaN

In [6]:
df.shape

(7373570, 26)

In [7]:
df.tail()

,FL_DATE,OP_CARRIER_AIRLINE_ID,TAIL_NUM,ORIGIN,ORIGIN_CITY_NAME,ORIGIN_STATE_NM,DEST,DEST_CITY_NAME,DEST_STATE_NM,CRS_DEP_TIME,...,ARR_TIME,CANCELLED,CANCELLATION_CODE,DIVERTED,CARRIER_DELAY,WEATHER_DELAY,NAS_DELAY,SECURITY_DELAY,LATE_AIRCRAFT_DELAY,Unnamed: 25
7373565,2019-03-31,19930,N524VA,SFO,"San Francisco, CA",California,SAN,"San Diego, CA",California,1830,...,2024.0,0.0,NaN,0.0,24.0,0.0,0.0,0.0,0.0,NaN
7373566,2019-03-31,19930,N529VA,SAN,"San Diego, CA",California,SFO,"San Francisco, CA",California,1740,...,1904.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7373567,2019-03-31,19930,N528VA,SFO,"San Francisco, CA",California,SAN,"San Diego, CA",California,2140,...,2304.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN
7373568,2019-03-31,19930,N524VA,SAN,"San Diego, CA",California,SFO,"San Francisco, CA",California,2050,...,2250.0,0.0,NaN,0.0,6.0,0.0,2.0,0.0,17.0,NaN
7373569,2019-03-31,19930,N364VA,SFO,"San Francisco, CA",California,LAX,"Los Angeles, CA",California,1100,...,1222.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
df2=pd.read_csv("Transportation_To_Work_2000-2006-2010.csv")

C:\Users\barba\AppData\Local\Temp\ipykernel_33036\690973125.py:1: DtypeWarning: Columns (3,8,11) have mixed types. Specify dtype option on import or set low_memory=False.
  df2=pd.read_csv("Transportation_To_Work_2000-2006-2010.csv")

In [10]:
df2.shape

(336238, 25)

In [15]:
df2.head()

,index,ind_id,ind_definition,reportyear,race_eth_code,race_eth_name,geotype,geotypevalue,geoname,county_name,...,pop_mode,pop_total,percent,LL95CI_percent,UL95CI_percent,percent_se,percent_rse,CA_decile,CA_RR,version
0,0,42,Percent of residents aged 16 years and older m...,2000,1,AIAN,CA,6,California,NaN,...,2414.0,73560.0,3.281675,NaN,NaN,NaN,NaN,NaN,0.855733,03/02/2015 12:00:00 AM
1,1,42,Percent of residents aged 16 years and older m...,2000,2,Asian,CA,6,California,NaN,...,42902.0,1634923.0,2.624099,NaN,NaN,NaN,NaN,NaN,0.684263,03/02/2015 12:00:00 AM
2,2,42,Percent of residents aged 16 years and older m...,2000,3,AfricanAm,CA,6,California,NaN,...,21348.0,797818.0,2.675798,NaN,NaN,NaN,NaN,NaN,0.697744,03/02/2015 12:00:00 AM
3,3,42,Percent of residents aged 16 years and older m...,2000,4,Latino,CA,6,California,NaN,...,75246.0,3865125.0,1.946793,NaN,NaN,NaN,NaN,NaN,0.507648,03/02/2015 12:00:00 AM
4,4,42,Percent of residents aged 16 years and older m...,2000,5,NHOPI,CA,6,California,NaN,...,1088.0,42880.0,2.537313,NaN,NaN,NaN,NaN,NaN,0.661632,03/02/2015 12:00:00 AM

In [9]:
df3=pd.read_csv("Electric_Vehicle_Population_Data.csv")

In [16]:
df3.head()

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJ3E1EB4L,Yakima,Yakima,WA,98908.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,322,0,14.0,127175366,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
1,5YJ3E1EA7K,San Diego,San Diego,CA,92101.0,2019,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,220,0,NaN,266614659,POINT (-117.16171 32.71568),NaN,6.073005e+09
2,7JRBR0FL9M,Lane,Eugene,OR,97404.0,2021,VOLVO,S60,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,22,0,NaN,144502018,POINT (-123.12802 44.09573),NaN,4.103900e+10
3,5YJXCBE21K,Yakima,Yakima,WA,98908.0,2019,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,289,0,14.0,477039944,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10
4,5UXKT0C5XH,Snohomish,Bothell,WA,98021.0,2017,BMW,X5,Plug-in Hybrid Electric Vehicle (PHEV),Not eligible due to low battery range,14,0,1.0,106314946,POINT (-122.18384 47.8031),PUGET SOUND ENERGY INC,5.306105e+10

In [11]:
df3.shape

(124716, 17)